<%= content_for(:ogp) do %>
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.kokoita.net/" />
  <meta property="og:title" content="Kokoita" />
  <meta property="og:description" content="あなたが出会った生き物の「ここにいた」をみんなに伝えよう！" />
  <meta property="og:image" content="<%= asset_url('forest5.jpg') %>" />
  <meta name="twitter:image" content="<%= asset_url('forest5.jpg') %>" />
  <meta property="fb:app_id" content="732740227644268" />
<% end %>
<div class="home pb-md-2">

  <div class="top">
    <div class="container-fluid text-center" >
      <h1 id="title">Kokoita</h1>
      <h2 id="top-desc">あなたが出会った生き物の「ここにいた」をみんなに伝えよう！</h2>
    </div>
  </div>

  <div class="following-user-posts pt-md-5">
    <div class="container">
      <h2 class="text-center">
      <i class="fas fa-user-friends mr-2"></i>フォロー中のユーザの投稿<i class="fas fa-user-friends ml-2"></i>
      </h2>
        <div class="following-posts">
          <%= @following_user_posts %>
        </div>
    </div>
  </div>

  <div class="post-area pt-md-5">
    <div class="container">
      <h2 class="text-center pb-md-1 mb-md-5">新着投稿</h2>
      <div class="posts px-lg-5 ml-lg-5">
        <ol class="posts px-lg-5 ml-lg-5">
          <%= render @posts %>
        </ol>
      </div>
      <div class="pagination-container pb-md-5 mb-md-5">
          <%= paginate @posts %>
      </div>
    </div>
  </div>
  <div class="danger-post-area pb-4">
    <div class="container">
      <h2 class="text-center pb-md-1">
      <i class="fas fa-exclamation-triangle mr-1"></i>危険生物速報<i class="fas fa-exclamation-triangle ml-1"></i>
      </h2>
      <p class="mb-md-5 text-center"><small>「危険」タグのついた投稿が新着順に表示されます</small></p>
      <% @danger_tag_posts.each do |p| %>
        <div class="danger-tag-posts d-lg-flex flex-lg-row mb-md-4">
          <div class="danger-post-image mr-md-3">
            <% if p.image? %>
              <%= link_to image_tag(p.image.post_thumb.url), post_path(p.id), data: {"turbolinks"=>false} %>
            <% else %>
              <%= image_tag 'noimage.png', class: "mr-md-4" %>
            <% end %>
          </div>
          <div class="danger-post-content">
            <h4><%= p.found_animal %></h4>
            <p>
              発見者：<%= link_to p.user.nickname, user_path(p.user_id), class: "post-user link-to", data: {"turbolinks"=>false} %>
            </p>
            <p>
              <span><%= p.found_date.year %>年</span>
              <span><%= p.found_date.month %>月</span>
              <span><%= p.prefecture.prefecture %></span>
            </p>
            <span class="timestamp">
              <% if p.created_at != p.updated_at %>
                <%= time_ago_in_words(p.created_at) %>前に投稿
                <%= time_ago_in_words(p.updated_at) %>前に編集
              <% else %>
                <%= time_ago_in_words(p.created_at) %>前に投稿
              <% end %>
              <%= link_to "詳しく見る", post_path(p.id), class: "link-to", data: {"turbolinks"=>false} %>
              <% if user_signed_in? && current_user.id == p.user_id %>
                <%= link_to "編集する", edit_post_path(p), class: "link-to",  data: {"turbolinks"=>false} %>
                <%= link_to "削除する", p, method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "link-to" %>
              <% end %>
            </span>
          </div>
        </div><br>
      <% end %>
    </div>
  </div>
  <div class="ranking-area pb-4">
    <div class="container">
      <h2 class="text-center pb-md-1 mb-md-5">いいねランキング</h2>
      <div class="slider-box">
        <ul class="slider-list">
          <% @ranks.each.with_index(1) do |post, index| %>
            <li id="rank<%= index %>" class="slider-item">
              <h3>
                <% if index == 1 %>
                  <i class="fas fa-crown"></i><%= "第#{index}位" %><i class="fas fa-crown"></i>
                <% else %>
                  <%= "第#{index}位" %>
                <% end %>
              </h3>
              <h4><%= post.found_animal %></h4>
              <% if post.image? %>
                <%= image_tag post.image.url %>
              <% else %>
                <%= image_tag 'noimage.png', class: "noimage" %>
              <% end %>
              <p>
                <i class="fas fa-user fa-2x"></i>
                <%= link_to post.user.nickname, user_path(post.user_id), class: "post-user link-to" %>
              </p>
              <p><%= link_to "詳しく見る", post_path(post.id), class: "link-to to-detail" %></p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="controller">
      <div class="prev-btn btns">
        <i id="prev-btn" class="fas fa-angle-left fa-3x"></i>
      </div>
      <div class="indicator">
        <span id="active"></span>
        <span></span>
        <span></span>
      </div>
      <div class="next-btn btns">
        <i id="next-btn" class="fas fa-angle-right fa-3x"></i>
      </div>
    </div>
  </div>

</div>

