<div class="followers pt-5">
  <div class="container pt-md-5">
    <h2 class="mb-4">フォロされているユーザ</h2>
    <% if @users.exists? %>
      <div class="follower-user ml-md-5">
        <% @users.each do |user| %>
          <div class="row mb-md-5">
            <div class="follower-picture col-md-3">
              <% if user.picture? %>
                <%= image_tag user.picture.thumb.url, class: 'user-picture' %>
              <% else %>
                <%= image_tag 'noimage.png' %>
              <% end %>
            </div>
            <div class="col-md-8 pt-md-5">
              <h3><%= link_to "#{user.nickname}", user_path(user.id), class: "link-to ml-md-5", data: {"turbolinks"=>false} %></h3>
              <% if current_user != @user %>
                <% if user.followed_by?(current_user) %>
                  <p class="button"><%= link_to "フォロー解除", user_relationships_path(user.id), class: "btn btn-success mt-md-2 ml-md-5", method: :delete, data: {"turbolinks"=>false} %></p>
                <% else %>
                  <p class="button"><%= link_to "フォローする", user_relationships_path(user.id), class: "btn btn-success mt-md-2 ml-md-5", method: :post, data: {"turbolinks"=>false} %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %><br>
      </div>
    <% else %>
      <p>フォローされているユーザはいません</p>
    <% end %>
  </div>
</div>