<div class="following pt-5">
  <div class="container pt-md-5">
    <h2 class="mb-4">フォローしているユーザ</h2>
    <% if @users.exists? %>
      <div class="following-user ml-md-5">
        <% @users.each do |user| %>
          <div class="row mb-md-5">
            <div class="follower-picture col-md-3">
              <% if user.picture? %>
                <%= image_tag user.picture.thumb.url, class: 'user-picture' %>
              <% else %>
                <%= image_tag 'noimage.png' %>
              <% end %>
            </div>
            <div class="col-md-3 user-name">
              <h3><%= link_to "#{user.nickname}", user_path(user.id), class: "link-to ml-md-5", data: {"turbolinks"=>false} %></h3>
            </div>
            <div id="follow_buttons_<%= user.id %>" class="col-md-3 button">
              <%= render partial: 'relationships/relation', locals: { user: user } %>
            </div>
          </div>
        <% end %><br>
      </div>
    <% else %>
     <p>フォローしているユーザはいません</p>
    <% end %>
  </div>
</div>