<%= provide(:title, @user.nickname) %>
<div class="pt-md-5 users-show pb-md-5 mb-md-5">
  <div class="container pt-md-5 pb-md-5">
    <h1><%= @user.nickname %></h1>
    <div class=row>
      <div class="col-md-4">
        <% if @user.picture? %>
          <%= image_tag @user.picture.thumb.url, class: 'user-picture' %>
        <% else %>
          <%= image_tag 'noimage.png' %>
        <% end %><br>
        <% if user_signed_in? && current_user.id == @user.id %>
          <%= link_to "登録情報の更新", edit_user_registration_path, class: "btn btn-outline-success mt-md-2 mb-md-5 ml-md-3 update-btn" %>
        <% end %>
      </div>
      <div class="col-md-8 post-title">
        <% if @user.posts.any? %>
          <h3 class="pb-3"><%= @user.nickname %>の投稿</h3>
          <ol class="posts">
            <%= render @posts %>
          </ol>
        <% else %>
          <h3 class="pb-3"><%= @user.nickname %>の投稿</h3>
          <p class="pl-4">まだ投稿がありません</p>
          <%= link_to "最初の記事を投稿する", new_post_path, class: "btn btn-lg btn-success ml-md-4 mt-md-3 post-btn", data: {"turbolinks"=>false} %>
        <% end%>
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>