<li id="post-<%= post.id %>" class="mb-4">
  <% if post.image? %>
    <%= image_tag post.image.post_thumb.url %>
  <% else %>
    <%= image_tag 'noimage.png' %>
  <% end %>
  <span><%= post.user.nickname %></span>
  <span><%= post.found_animal %></span>
  <span><%= post.found_date.year %>年</span>
  <span><%= post.found_date.month %>月</span>
  <span><%= post.prefecture.prefecture %></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    <% if post.created_at != post.updated_at %>
      <%= time_ago_in_words(post.created_at) %>前に投稿
      <%= time_ago_in_words(post.updated_at) %>前に編集
    <% else %>
      <%= time_ago_in_words(post.created_at) %>前に投稿
    <% end %>
    <% if current_user.id == post.user_id %>
      <%= link_to "編集する", edit_post_path(post) %>
      <%= link_to "削除する", post, method: :delete, data: { confirm: "削除してよろしいですか？" } %>
    <% end %>
  </span>
</li>