<% provide(:title, "New Post") %>

<div class="new-post">

  <div class="container mt-5">
    <h1 class="">投稿を作成する</h1>
    <div class="form_group mt-5">

      <%= form_with model: @post, local: true do |form| %>
        <%= form.hidden_field :user_id, value: current_user.id %>

        <div class="form-row mb-4">
          <%= form.label :見つけた生き物, class: "mr-1" %>
          <%= form.text_field :found_animal %>
        </div>

        <div class="form-row mb-4">
          <%= form.label :ジャンル, class: "mr-1" %>
          <%= form.collection_radio_buttons(:category_id, Category.all, :id, :category) %>
        </div>

        <div class="form-row mb-4">
          <%= form.label :発見場所, class: "mr-1" %>
          <%= form.collection_select(:prefecture_id, Prefecture.all, :id, :prefecture) %>
        </div>

        <div class="form-row mb-4">
          <%= form.label :発見年月, class: "mr-1" %>
          <%= form.date_select(:found_date, date_separator: "/", discard_day: true) %>
        </div>

        <div class="form-row mb-4">
          <%= form.label :コメント, class: "mr-1" %>
          <%= form.text_area :content %>
        </div>

        <div class="form-row mb-4">
          <%= form.label :画像を投稿する, class: "mr-1" %>
          <%= form.file_field :image %>
          <%= form.hidden_field :image_cache %>
        </div>

        <div class="form-row mb-4 mx-auto">
          <%= form.submit "投稿する", class: "btn btn-success" %>
        </div>

      <% end %>
    </div>
  </div>
</div>