<% provide(:title, "投稿を作成する") %>

<div class="new-post">
  <div class="container pt-md-5">
    <h1 class="pt-5 pb-1">投稿を作成する</h1>
    <div class="form_group mt-md-5 pl-md-5">
      <%= form_with model: @post, local: true do |form| %>
        <%= form.hidden_field :user_id, value: current_user.id %>

        <div class="form-row mb-4">
          <%= form.label :見つけた生き物, class: "mr-1" %>
          <%= form.text_field :found_animal %><span class="must ml-1">必須</span>
        </div>

        <div class="form-row mb-4">
          <%= form.label :ジャンル, class: "mr-5" %>
          <%= form.collection_select(:category_id, Category.all, :id, :category) %><span class="must ml-1">必須</span>
        </div>

        <div class="form-row mb-4">
          <%= form.label :発見場所, class: "mr-5" %>
          <%= form.collection_select(:prefecture_id, Prefecture.all, :id, :prefecture) %><span class="must ml-1">必須</span>
        </div>
        <div class="form-row mb-2">
          <%= form.label :詳細位置情報, class: "mr-md-3" %>
          <input type="text" size="30" id="address">
          <input type="button" id="target_button" value="地名検索" class="ml-md-2 mr-md-2">
        </div>
        <div id='gmap'></div>
        <span id="draggable"><small>住所検索後、マーカーをドラッグ移動できます</small></span>
          <%= form.hidden_field :latitude, {id: "target_latitude"} %>
          <%= form.hidden_field :longitude, {id: "target_longitude"} %>

        <div class="form-row mt-4 mb-4">
          <%= form.label :発見年／月, class: "mr-4" %>
          <%= form.date_select(:found_date, date_separator: "/", discard_day: true) %><span class="must ml-1">必須</span>
        </div>

        <div class="form-row mb-4">
          <%= form.label :コメント, class: "mr-5" %>
          <%= form.text_area :content, size: "30x5" %>
        </div>

        <div class="form-row">
          <%= form.label :画像を選択する, class: "mr-4" %><br>
          <%= form.file_field :image, id: "file" %>
          <%= form.hidden_field :image_cache %>
        </div>
        <div class="image-preview">
          <p id="preview"></p>
          <img id="preview-image" class="pb-4" >
        </div>

        <div class="form-row">
          <%= form.label :タグ, class: "mr-3"  %>
          <%= form.text_field :tag_name %>
        </div>
        <div class="mb-4">
          <span class="ml-5"><small>スペースを入力することで複数のタグ付けすることができます</small></span><br>
          <span class="ml-5"><small>例：動物 危険 クマ</small></span>
        </div>

        <div class="form-row mb-md-4 mx-auto pb-5 ">
          <%= form.submit "投稿する", class: "btn  btn-lg btn-success" %>
        </div>

      <% end %>
    </div>
  </div>
<script>
  let map;
  function initMap(){
    map = new google.maps.Map(document.getElementById('gmap'), {
      center: {lat: 38.26020362574981, lng:140.88349151611325},
      zoom: 13,
    });
    let targetButton = document.getElementById('target_button');
    targetButton.addEventListener('click', function(){
      let address = document.getElementById('address').value;
      let geocoder = new google.maps.Geocoder();
      geocoder.geocode({ address: address }, function(results, status){
        if (status === 'OK'){
          let lat = results[0].geometry.location.lat();
          let lng = results[0].geometry.location.lng();
          let mark = {lat: lat, lng: lng};
          let searchedMap = new google.maps.Map(document.getElementById('gmap'), {
            center: mark,
            zoom: 13,
          });

          let marker = new google.maps.Marker({
            position: searchedMap.getCenter(),
            map: searchedMap
          });
          marker.setDraggable(true);
          google.maps.event.addListener(marker, 'dragend', function(e) {
            document.getElementById("target_latitude").value = e.latLng.lat(),
            document.getElementById("target_longitude").value = e.latLng.lng()
          });
        }else{
          alert('失敗しました。 理由：' + status);
        }
      });
    });
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwf221uzw_nqcoGVja1gAaxh3iKfdq8ec&callback=initMap" async defer></script>
</div>