<% provide(:title, "投稿を作成する") %>

<div class="new-post">
  <div class="container pt-5">
    <h2 class="pt-5 pb-1">投稿を作成する</h1>
    <div class="form_group mt-5 pl-5">
      <%= form_with model: @post, local: true do |form| %>
        <%= form.hidden_field :user_id, value: current_user.id %>

        <div class="form-row mb-4">
          <%= form.label :見つけた生き物, class: "mr-1" %>
          <%= form.text_field :found_animal %><span class="must ml-1">必須</span>
        </div>

        <div class="form-row mb-4">
          <%= form.label :ジャンル, class: "mr-5" %>
          <%= form.collection_select(:category_id, Category.all, :id, :category) %><span class="must ml-1">必須</span>
        </div>

        <div class="form-row mb-4">
          <%= form.label :発見場所, class: "mr-5" %>
          <%= form.collection_select(:prefecture_id, Prefecture.all, :id, :prefecture) %><span class="must ml-1">必須</span>
        </div>

        <div class="form-row mb-4">
          <%= form.label :発見年／月, class: "mr-4" %>
          <%= form.date_select(:found_date, date_separator: "/", discard_day: true) %><span class="must ml-1">必須</span>
        </div>

        <div class="form-row mb-4">
          <%= form.label :コメント, class: "mr-5" %>
          <%= form.text_area :content, size: "30x5" %>
        </div>

        <div class="form-row mb-4">
          <%= form.label :画像を選択する, class: "mr-4" %>
          <%= form.file_field :image %>
          <%= form.hidden_field :image_cache %>
        </div>

        <div class="form-row mb-4 mx-auto pb-5 ">
          <%= form.submit "投稿する", class: "btn  btn-lg btn-success" %>
        </div>

      <% end %>
    </div>
  </div>
</div>