<%= provide(:title, "投稿詳細") %>
<div class="detailed-post">
  <div class="container pt-5">
    <div class="row pt-5">
      <div class="col-md-2">
        <h1>投稿詳細</h1>
      </div>
      <div class="detail mt-5 col-md-6">
          <div class="animal-name">
            <h2 class="mt-3"><%= @post.found_animal %></h2>
          </div>
          <div class="nickname mb-3">
            <%= link_to @post.user.nickname, user_path(@post.user_id), class: "link-to" %>
          </div>
          <div class="post-image ml-lg-3 mb-3">
            <%= image_tag @post.image.url %>
          </div>
          <div class="date-and-place mb-3">
            <span><%= @post.found_date.year %>年</span>
            <span><%= @post.found_date.month %>月</span>
            <span><%= @post.prefecture.prefecture %></span>
          </div>
          <div class="content mb-3">
            <p class=""><%= @post.content %></p>
          </div>
          <div class="favorite">
            <% if user_signed_in? %>
              <% if @post.liked_by?(current_user) %>
                <p>
                  <%= link_to post_likes_path(@post.id), class: "link-to", method: :delete do %>
                    <i class="fas fa-thumbs-up fa-2x"></i>
                  <% end %>
                  いいね！済み
                </p>
                <p><%= @post.likes.count %><span>件のいいね！</span></p>
              <% else%>
                <p>
                  <%= link_to post_likes_path(@post.id), class: "link-to", method: :post do %>
                    <i class="far fa-thumbs-up fa-2x"></i>
                  <% end %>
                  いいね！する
                </p>
                <p><%= @post.likes.count %><span>件のいいね！</span></p>
              <% end %>
            <% else %>
              <p><%= @post.likes.count %><span>件のいいね！</span></p>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>