<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <%= link_to "KOKOITA", root_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" 
      data-toggle="collapse" 
      data-target="#navmenu"
      aria-controls="navmenu"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav mr-auto pl-lg-5">
        <li class="nav-item pr-lg-4"><%= link_to "ホーム", root_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "生き物を探す", posts_path, class: "nav-link" %></li>
      </ul>
       <ul class="navbar-nav pr-lg-2">
        <li class="nav-item"><%= link_to "新規登録", new_user_registration_path, class: "nav-link" %></li>
        <li class="nav-item pl-lg-4 pr-lg-5"><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
        <li class="pt-lg-1">
          <%= link_to "https://twitter.com/share?url=https://www.kokoita.net/", class: "twitter-link", target: '_blank' do %>
          <i class="fab fa-twitter fa-2x"></i>
          <% end %>
          <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.kokoita.net%2F&layout=button&size=small&appId=732740227644268&width=69&height=20" width="69" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </li>
       </ul>
    </div>
  </nav>
</header>